.ipynb_checkpoints/*

lista00/\.ipynb_checkpoints/

lista01/\.ipynb_checkpoints/

material-marcao/

lista04/\.ipynb_checkpoints/

ICD20191-Lista00/\.ipynb_checkpoints/

ICD20191-Lista01/\.ipynb_checkpoints/

ICD20191-Lista04/\.ipynb_checkpoints/

Projeto-ICD/

2019\.1/

ICD20191-Lista05/\.ipynb_checkpoints/

ICD20191-Lista06/\.ipynb_checkpoints/

ICD20191-Lista07/\.ipynb_checkpoints/

ICD20191-Lista08/\.ipynb_checkpoints/
